doctype html
html(lang='ja')
  head
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    meta(http-equiv='X-UA-Compatible', content='ie=edge')
    include includes/typekit.jade
    include includes/google-analytics.jade
      
      
    title Page Not Found
    link(rel='stylesheet', href='./assets/css/404-dist.css')
    
    
    

  body
  
